.page-container.maran {
  *font-family: "Noto Sans KR", sans-serif;
}
.page-container.maran .maranSwiper {
  width: 100%;
  height: 100vh;
}
.page-container.maran .maranSwiper img {
  width: 100%;
  height: 100%;
}
.page-container.maran .maranSwiper .swiper-pagination,
.page-container.maran .maranSwiper .swiper-button-next:after,
.page-container.maran .maranSwiper .swiper-button-prev:after,
.page-container.maran .maranSwiper .swiper-scrollbar-drag,
.page-container.maran .maranSwiper .swiper-horizontal > .swiper-scrollbar,
.page-container.maran .maranSwiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;
}
.page-container.maran .mav_size {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 48px 0;
}
.page-container.maran .mav_size a {
  color: #030303;
  font-size: 14px;
  font-weight: 500;
}
.page-container.maran .bot_me {
  position: absolute;
  top: 12%;
  z-index: 10;
  width: 100%;
}
.page-container.maran .bot_me ul {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.page-container.maran .bot_me a {
  color: #030303;
  font-size: 12px;
}
.page-container.maran .lag_line {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: baseline;
  justify-content: space-around;
}
.page-container.maran .lag_line img {
  width: 200px;
}
.page-container.maran .lag_line li {
  min-width: 120px;
}
.page-container.maran .style_input {
  background: transparent;
}
.page-container.maran footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 48px;
  z-index: 1;
}
.page-container.maran footer .for_txt_po {
  max-width: 1280px;
  margin: 0 auto;
}
.page-container.maran footer ul {
  display: flex;
}
.page-container.maran footer li {
  color: #030303;
  font-size: 12px;
  font-weight: 450;
  line-height: 1.4;
}
.page-container.maran footer a {
  color: #030303;
}
.page-container.maran footer p {
  color: #000;
  font-size: 12px;
  font-weight: 450;
  margin-left: 24px;
  line-height: 1.4;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  background: transparent;
  box-shadow: unset;
}
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper li {
  font-size: 12px;
}