.page-container.covernat .mySwiper {
  width: 100%;
  height: 40vw;
}
.page-container.covernat .mySwiper a {
  width: 100%;
  height: 100%;
}
.page-container.covernat .mySwiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-container.covernat .mySwiper .swiper-button-prev,
.page-container.covernat .mySwiper .swiper-button-next {
  display: none;
}
.page-container.covernat .mySwiper .swiper-button-prev::after,
.page-container.covernat .mySwiper .swiper-button-next::after {
  color: #fff;
}
.page-container.covernat .mySwiper .swiper-pagination-bullet {
  background: #fff;
}
.page-container.covernat .mySwiper .swiper-scrollbar-drag {
  display: none;
}
.page-container.covernat .swiper-scrollbar {
  display: none;
}
.page-container.covernat .covernatHeader {
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
}
.page-container.covernat #covernatHeaderInner {
  width: 100%;
  height: 60px;
  z-index: 99;
  transition: all 0.35s;
}
.page-container.covernat .covernatPointInner {
  width: 100%;
  max-width: calc(100% - 42px);
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
}
.page-container.covernat .covernatPointInner .logo_cover {
  width: 110px;
}
.page-container.covernat .covernatTopMenu {
  max-width: calc(100% - 42px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-container.covernat .TopMenu {
  display: flex;
  gap: 45px;
}
.page-container.covernat .TopMenu li:first-child {
  padding-left: 45px;
}
.page-container.covernat .TopMenu li a {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
.page-container.covernat .submenu {
  display: none;
  width: 100%;
  height: 300px;
  background: #fff;
  position: fixed;
  top: 60px;
  left: 0;
  border-top: 1px solid rgb(230, 230, 230);
}
.page-container.covernat .submenuinner {
  max-width: calc(100% - 42px);
  padding-left: 6%;
}
.page-container.covernat .TopMenu li:hover .submenu {
  display: block;
}
.page-container.covernat .dep1 {
  display: flex;
  justify-content: space-evenly;
}
.page-container.covernat .TopMenu .dep1 li {
  width: 100%;
  padding: 0;
}
.page-container.covernat .dep1 > li > a {
  font-size: 12px;
  line-height: 56px;
}
.page-container.covernat .product_cover > li > a {
  font-size: 12px;
  line-height: 28px;
}
.page-container.covernat .product_cover a {
  color: #bdbdbd;
}
.page-container.covernat .covernatIcon {
  display: flex;
  gap: 12px;
}
.page-container.covernat .covernat_main {
  width: 100%;
  height: auto;
}
.page-container.covernat .main_img_inner {
  width: 100%;
}
.page-container.covernat .main_img_inner ul {
  display: flex;
}
.page-container.covernat .main_img_inner li {
  width: 33.3333333333%;
  position: relative;
}
.page-container.covernat .main_img_inner img {
  width: 100%;
  height: 100%;
}
.page-container.covernat .img_txt {
  font-size: 12px;
  line-height: 32px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.page-container.covernat .look_txt {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 660;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.8s;
  cursor: pointer;
}
.page-container.covernat .img_txt:hover {
  opacity: 1;
}
.page-container.covernat .look_txt:hover {
  opacity: 1;
}
.page-container.covernat .img_txt span {
  width: 100px;
  height: 32px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.page-container.covernat .covernat_sub {
  width: 100%;
  height: auto;
}
.page-container.covernat .main_sub_inner {
  width: 100%;
}
.page-container.covernat .main_sub_inner ul {
  display: flex;
}
.page-container.covernat .main_sub_inner li {
  width: 25%;
  position: relative;
}
.page-container.covernat .main_sub_inner img {
  width: 100%;
  height: 100%;
}
.page-container.covernat .covernat_look {
  width: 100%;
  height: auto;
}
.page-container.covernat .main_look_inner {
  width: 100%;
}
.page-container.covernat .main_look_inner ul {
  display: flex;
}
.page-container.covernat .main_look_inner li {
  width: 50%;
  position: relative;
}
.page-container.covernat .main_look_inner img {
  width: 100%;
  height: 100%;
}
.page-container.covernat .covernat_footer {
  width: 100%;
  max-width: calc(100% - 42px);
  margin: 0 auto;
  height: 320px;
  font-size: 12px;
  line-height: 32px;
  background: #fff;
}
.page-container.covernat .covernat_cs {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 224px;
  flex-wrap: wrap;
  padding-top: 28px;
}
.page-container.covernat .covernat_cs a {
  color: #000;
}
.page-container.covernat .covernat_co {
  display: flex;
  padding-top: 28px;
}
.page-container.covernat .covernat_co a {
  color: #000;
}
.page-container.covernat .covernat_co p ~ p {
  padding-left: 24px;
}
.page-container.covernat .covernat_ad {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  position: relative;
  top: -250px;
}
.page-container.covernat .covernat_ad h1 {
  font-weight: 800;
}
.page-container.covernat .covernat_ad span {
  width: 1px;
  height: 10px;
  background-color: #000;
  display: inline-block;
  margin: 0 5px;
}
.page-container.covernat .look_txt p {
  color: #000;
  padding: 24px;
}