@media (max-width: 768px) {
  .page-container.lelabo .topevent {
    text-align: center;
  }
  .page-container.lelabo .lelabomemu {
    height: 60px;
  }
  .page-container.lelabo .lelabomemu nav {
    display: none;
  }
  .page-container.lelabo .lelaborig {
    height: 60px;
  }
  .page-container.lelabo .ph_me {
    display: flex;
    align-items: center;
    padding: 18px;
    height: 60px;
  }
  .page-container.lelabo .ph_me img {
    width: 30px;
  }
  .page-container.lelabo .lelabo_main_txt {
    gap: 0px;
    font-size: 10px;
    margin-bottom: 60vw;
  }
  .page-container.lelabo .lelabo_main_txt label {
    min-width: 75px;
  }
  .page-container.lelabo .footer_gather {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto 1fr;
  }
  .page-container.lelabo .footer_gather .footer_section ~ .footer_section {
    padding-left: 0px;
  }
}