@charset "UTF-8";

.mySwiper {
  width: 100%;
  height: 80vh;
}
.mySwiper a {
  width: 100%;
  height: 100%;
}
.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  display: none;
}
.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  color: #fff;
}
.mySwiper .swiper-pagination-bullet {
  background: #fff;
}
.mySwiper .swiper-scrollbar-drag {
  display: none;
}
.swiper-scrollbar {
  display: none;
}
.covernatHeader {
  width: 100%;
  height: 60px;
  position: relative;
  top: 0;
}
#covernatHeaderInner {
  width: 100%;
  height: 60px;
  z-index: 99;
  transition: all 0.35s;
}
.covernatPointInner {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}
.covernatPointInner .logo_cover {
  width: 110px;
}
.covernatTopMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TopMenu {
  display: flex;
  gap: 45px;
}
.TopMenu li:first-child {
  padding-left: 45px;
}
.TopMenu li a {
  font-size: 12px;
}
.submenu {
  display: none;
  width: 100%;
  height: 300px;
  background: #fff;
  position: fixed;
  top: 60px;
  left: 0;
  border-top: 1px solid rgb(230, 230, 230);
}
.submenuinner {
  max-width: 1000px;
  padding-left: 6%;
}
.TopMenu li:hover .submenu {
  display: block;
}
.dep1 {
  display: flex;
  justify-content: space-evenly;
}
.TopMenu .dep1 li {
  width: 100%;
  padding: 0;
}
.dep1 > li > a {
  font-size: 12px;
  line-height: 56px;
}
.product_cover > li > a {
  font-size: 12px;
  line-height: 28px;
}
.product_cover a {
  color: #bdbdbd;
}
.covernatIcon {
  display: flex;
  gap: 12px;
  padding-right: 2.5%;
}
.covernat_main {
  width: 100%;
  height: auto;
}
.main_img_inner {
  width: 100%;
}
.main_img_inner ul {
  display: flex;
}
.main_img_inner li {
  width: calc(100% / 3);
  position: relative;
}
.main_img_inner img {
  width: 100%;
  height: 100%;
}
.img_txt {
  font-size: 12px;
  line-height: 32px;
  color: #fff;
  font-weight: 660;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.img_txt:hover {
  opacity: 1;
}
.img_txt span {
  width: 100px;
  height: 32px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.covernat_sub {
  width: 100%;
  height: auto;
}
.main_sub_inner {
  width: 100%;
}
.main_sub_inner ul {
  display: flex;
}
.main_sub_inner li {
  width: calc(100% / 4);
  position: relative;
}
.main_sub_inner img {
  width: 100%;
  height: 100%;
}
.covernat_look {
  width: 100%;
  height: auto;
}
.main_look_inner {
  width: 100%;
}
.main_look_inner ul {
  display: flex;
}
.main_look_inner li {
  width: calc(100% / 2);
}
.main_look_inner img {
  width: 100%;
  height: 100%;
}
.covernat_footer {
  width: 100%;
  height: 280px;
}
.covernat_inner {
  display: flex;
  justify-content: space-between;
  line-height: 34px;
  padding: 2.5%;
}
.covernat_cs,
.covernat_about a {
  width: 110px;
  font-size: 12px;
}
.covernat_cs,
.covernat_about li {
  width: 110px;
}
.covernat_ad {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  text-align: right;
}
.covernat_ad h1 {
  font-weight: 660;
}
.covernat_footer_nav {
  display: flex;
  font-size: 12px;
}
.covernat_footer_nav li {
  padding-left: 2.5%;
}
.covernat_inner {
  background: #fff;
}
