@charset "UTF-8";

.page-container.covernat {
  .mySwiper {
    flex-shrink: 0;
    height: 100%;
    position: relative;
  }
  .mySwiper .swiper-slide a {
    display: flex;
  }
  .mySwiper .swiper-slide:hover {
    display: flex;
  }
  .mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mySwiper a:hover {
    .swiperfont {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none;
  }
  .mySwiper .swiper-button-prev::after,
  .mySwiper .swiper-button-next::after {
    color: #fff;
  }
  .mySwiper .swiper-pagination-bullet {
    background: #fff;
  }
  .mySwiper .swiper-scrollbar-drag {
    display: none;
  }
  .swiperfont {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
  }
  .swiperfont p {
    color: #000;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiperfont .font-sub {
    width: 100px;
    height: 40px;
    background: #fff;
    border-radius: 6px;
  }
  .swiper-scrollbar {
    display: none;
  }
  .covernatHeader {
    width: 100%;
    height: 60px;
    background: #2f2f2f;
  }
  #covernatHeaderInner {
    width: 100%;
    height: 60px;
    transition: all 0.35s;
  }
  .covernatPointInner {
    width: 100%;
    max-width: calc(100% - 42px);
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
  }
  .covernatPointInner .logo_cover {
    width: 100px;
  }
  .covernatTopMenu {
    max-width: calc(100% - 42px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .TopMenu {
    display: flex;
    gap: 45px;
  }
  .TopMenu li:first-child {
    padding-left: 45px;
  }
  .TopMenu li a {
    font-size: 12px;
    font-weight: 600;
    color: #000;
  }
  .TopMenu .TopMenu--font--color a {
    color: #fff;
  }
  .submenu {
    z-index: 2;
    display: none;
    width: 100%;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 60px;
    left: 0;
    border-top: 1px solid rgb(230, 230, 230);
  }
  .submenuinner {
    max-width: calc(100% - 42px);
  }
  .TopMenu li:hover .submenu {
    display: block;
  }
  .dep1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
  }
  .TopMenu .dep1 li {
    padding: 0;
  }
  .dep1 > li > a {
    font-size: 12px;
    line-height: 56px;
    color: #000;
  }
  .TopMenu .dep1 li {
    padding-right: 32px;
  }
  .product_cover > li > a {
    font-size: 12px;
    line-height: 28px;
    color: #2f2f2f;
    font-weight: 350;
  }
  .product_cover a {
    color: #000;
  }
  .product_cover {
    display: flex;
    flex-direction: column;
  }
  .covernatIcon {
    display: flex;
    gap: 12px;
  }
  .covernat_main {
    width: 100%;
    height: auto;
  }
  .main_img_inner {
    width: 100%;
  }
  .main_img_inner ul {
    display: flex;
  }
  .main_img_inner li {
    width: calc(100% / 3);
    position: relative;
  }
  .main_img_inner img {
    width: 100%;
    height: 100%;
  }
  .img_txt {
    font-size: 12px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .look_txt {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 660;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.8s;
    cursor: pointer;
  }
  .img_txt:hover {
    opacity: 1;
  }
  .look_txt:hover {
    opacity: 1;
  }
  .img_txt span {
    width: 100px;
    height: 32px;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  .covernat_sub {
    width: 100%;
    height: auto;
  }
  .main_sub_inner {
    width: 100%;
  }
  .main_sub_inner ul {
    display: flex;
  }
  .main_sub_inner li {
    width: calc(100% / 4);
    position: relative;
  }
  .main_sub_inner img {
    width: 100%;
    height: 100%;
  }
  .covernat_look {
    width: 100%;
    height: auto;
  }
  .main_look_inner {
    width: 100%;
  }
  .main_look_inner ul {
    display: flex;
  }
  .main_look_inner li {
    width: calc(100% / 2);
    position: relative;
  }
  .main_look_inner img {
    width: 100%;
    height: 100%;
  }
  footer {
    width: 100%;
    color: #000;
    font-size: 0.2rem;
    padding: 2rem 0;
  }
  .footer-bottom {
    line-height: 1.8;
  }
  .layout-row {
    width: 100%;
    padding: 0 var(--layout-row-gap);
    zoom: 1;
  }
  .footer-inside {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
  }
  #footer-accordion {
    display: flex;
    gap: 66px;
    a {
      color: #000;
    }
    .fbox {
      line-height: 2;
      padding-right: 25px;
    }
    .mobile-content-hide {
      display: block !important;
    }

    h2 {
      margin-bottom: 1rem;
      font-weight: 700;
    }
  }
  .footer-top,
  .footer-bottom {
    width: 50%;
  }
  .footer-top {
    display: flex;
  }
  .footer-bottom {
    text-align: right;
  }
  .info-name {
    font-weight: 700;
    font-size: 12px;
  }

  //covernetmen site
  .hidden {
    display: flex;
    padding: 0.75rem;
  }
  .covernetmen-button {
    display: flex;
    align-items: center;
    width: 16.666667%;
    margin-left: 12px;
  }
  .text-13 {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .py-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .bg-brand-2 {
    background-color: rgb(248 248 248);
    border: 0px;
  }
  .rounded-md {
    border-radius: 0.375rem;
  }
  .whitespace-nowrap {
    white-space: nowrap;
  }
  .overflow-x-auto {
    overflow-x: auto;
  }
  .items-center {
    align-items: center;
  }
  .max-w-screen-xl {
    max-width: 1280px;
  }
}
