@charset "UTF-8";

.page-container.bestseller {
  * {
    box-sizing: border-box;
  }

  .bestsellerbody {
    font-family: "Spoqa Han Sans Neo";
  }

  .desktop-nav {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 24px;
    ul {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 1em;
    }
    li {
      font-weight: 600;
      margin-right: 48px;
      cursor: pointer;
    }
    .menu-logo {
      width: 140px;
      height: 32px;
      background: url("../../images/bestseller/bs_logo.svg") no-repeat center center;
    }
  }

  //.mobile-nav {}

  section {
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-scrollbar,
  .swiper-pagination-bullet {
    display: none;
  }

  .BestsellerSwiper {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  #SlideImgGrop {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .slideImg1 {
    background: url("../../images/bestseller/bg_main.jpeg") no-repeat center/cover;
  }
  .slideImg2 {
    background: url("../../images/bestseller/bg_main1.jpeg") no-repeat center/cover;
  }

  .PageSlidInner {
    width: 100%;
    max-width: 1200px;
    margin-left: 48px;
    p {
      font-size: 3em;
      font-weight: 600;
      line-height: 1.25;
      span {
        position: relative;
        padding-right: 60px;
        margin-right: 8px;
      }
    }
  }

  .PageSlidInner p span::after {
    content: "";
    display: block;
    width: 58px;
    height: 38px;
    background: url("../../images/bestseller/it.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  .ButtonArea {
    margin-top: 68px;
  }

  .PartnerWrap {
    font-size: 1em;
    margin-top: 2%;
  }

  .SlideInButton {
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 2% 2.5%;
    border-radius: 28px;
    margin-right: 2%;
    transition: all 0.3s;
  }

  .SlideInButton:hover {
    background: #ab96fd;
  }
  // BestsellerMainPage end

  .MarketList {
    background: url("../../images/bestseller/bg_gradient.jpeg");
  }

  .MarketListInner {
    padding-right: calc((100% - 1358px) / 2);
    padding-left: calc((100% - 1358px) / 2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .MarketListInnerGroup {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    position: relative;
  }
  .MarketListInnerGroupTitle {
    p {
      font-size: 2.5em;
      line-height: 1.4;
    }
  }

  .MarketListInnerGroupTitlePoint {
    font-weight: 600;
    span {
      position: relative;
      padding-right: 20px;
    }
  }

  .MarketListInnerGroupTitlePoint span::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/bestseller/ic_it.png") no-repeat center/cover;
    position: absolute;
    top: 2px;
    right: 0;
  }

  .MarketListInnerGroupTitleButton {
    display: inline-block;
    background: #262626;
    color: #fff;
    line-height: 1;
    padding: 16px 20px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 28px;
    span {
      display: inline-block;
      padding-right: 18px;
      position: relative;
    }
  }

  .MarketListInnerGroupTitleButton span::after {
    content: "";
    display: block;
    width: 8px;
    height: 11px;
    background: url("../../images/bestseller/ic_arrow.png") no-repeat right/cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  .SellerText {
    margin-top: 28px;
    font-weight: 500;
    color: #9d9d9d;
    line-height: 1.3;
  }

  .SellerTextPoint {
    margin-top: 2px;
    color: #ab96fd;
  }

  // Maket List Grop

  .SellerSwiper {
    width: calc(100% - 448px);
    margin-right: 0;
    margin-left: auto;
    overflow: hidden;
  }

  .SwiperSlide {
    width: 300px;
    height: 500px;
    display: flex;
    position: relative;
    border-radius: 14px;
  }

  .SellerItemInner {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 32px;
  }
  // font style
  .ItemTitle {
    font-size: 19px;
    color: #9d9d9d;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }

  .SubTitle {
    font-size: 16px;
    font-weight: bold;
    color: #ab96fd;
    margin-bottom: 4px;
  }

  .Price {
    font-size: 32px;
    font-weight: bold;
  }

  .SellerSlideImg1 {
    background: url("../../images/bestseller/seller1.jpg") no-repeat center/cover;
  }
  .SellerSlideImg2 {
    background: url("../../images/bestseller/seller2.jpg") no-repeat center/cover;
  }
  .SellerSlideImg3 {
    background: url("../../images/bestseller/seller3.jpg") no-repeat center/cover;
  }
  .SellerSlideImg4 {
    background: url("../../images/bestseller/seller4.jpg") no-repeat center/cover;
  }
  .SellerSlideImg5 {
    background: url("../../images/bestseller/seller5.jpg") no-repeat center/cover;
  }

  footer {
    //background: #ab96fd;
    border-top: 1px solid rgb(247, 247, 247);
  }

  .FooerWrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    padding: 30px 0 20px 0;
  }

  nav {
    display: flex;
    padding-bottom: 20px;
    color: #262626;
  }

  .ServiceCenter {
    margin-right: 80px;
    button {
      display: block;
      width: 140px;
      height: 40px;
      border: 1px solid rgb(226, 226, 226);
      border-radius: 3px;
      line-height: 39px;
      text-align: center;
      margin-right: 16px;
      margin-bottom: 16px;
      background-color: transparent;
      color: #262626;
    }
  }

  .CenterTitle {
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
  }

  .Centernumber {
    display: block;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    margin: 16px 0;
    font-weight: 600;
  }

  .CenternumberFontStyle {
    margin-left: 8px;
    font-weight: normal;
    font-size: 14px;
  }

  .FooterMenuGrop {
    margin-right: 40px;
    font-size: 0.8em;
    p {
      font-weight: 600;
      margin-bottom: 20px;
    }
    li {
      color: rgb(153, 153, 153);
    }
    li:not(:last-child) {
      padding-bottom: 16px;
    }
  }

  .App {
    button {
      display: block;
      width: 140px;
      height: 40px;
      border: 1px solid rgb(226, 226, 226);
      border-radius: 3px;
      line-height: 39px;
      text-align: center;
      margin-right: 16px;
      margin-bottom: 16px;
      background-color: transparent;
      color: #262626;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .FooterInformation {
    text-align: center;
    line-height: 18px;
    background: rgb(247, 247, 247);
  }

  .InfoText {
    padding-top: 20px;
    font-size: 10px;
    margin-bottom: 10px;
    color: rgb(153, 153, 153);
  }

  .Prohibition,
  .copyright {
    font-size: 10px;
    color: rgb(153, 153, 153);
    display: block;
  }

  /* styles.css */

  .card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .card-front {
    background-color: #f0f0f0;
  }

  .card-back {
    background-color: #c7ecee;
    transform: rotateY(180deg);
  }
}
