@charset "UTF-8";

.page-container.bestseller {
  * {
    box-sizing: border-box;
  }

  .bestsellerbody {
    font-family: "Spoqa Han Sans Neo";
  }

  .BestsellerNav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .menu {
      display: flex;
      align-items: center;
      max-width: 1200px;
      padding: 48px;
    }
    .menu-logo {
      width: 126px;
      height: 32px;
      background: url("../../images/bestseller/bs_logo.svg") no-repeat center center/cover;
    }
    li {
      margin-right: 48px;
      font-weight: bold;
      color: #262626;
    }
  }

  #slideImgGrop {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
  }

  .slideImg1 {
    background: url("../../images/bestseller/bg_main.jpeg") no-repeat center center/cover;
  }
  .slideImg2 {
    background: url("../../images/bestseller/bg_main1.jpeg") no-repeat center center/cover;
  }

  .mainpageSlidInner {
    width: 100%;
    max-width: 1200px;
    padding: 0 48px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    p {
      font-size: 4em;
      font-weight: 600;
      line-height: 1.25;
    }
    span {
      position: relative;
      padding-right: 60px;
      margin-right: 8px;
    }
  }

  .slideButtonArea {
    margin-top: 70px;
  }

  .slidePartnerWrap {
    font-size: 0;
    margin-top: 15px;
  }

  .slideInButton {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 16px 30px 14px;
    border-radius: 48px;
    margin-right: 6px;
  }

  .slideInButton:hover {
    background: #ab96fd;
  }

  .marketList {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../../images/bestseller/bg_gradient.jpeg");
    .marketListInner {
      padding-left: calc((100% - 1358px) / 2);
      padding-right: calc((100% - 1358px) / 2);
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .marketListInnergroupTitle p {
    font-size: 2.5em;
    line-height: 1.25;
  }

  .marketListInnergroupTitlePoint {
    font-weight: 600;
    span {
      position: relative;
      padding-right: 20px;
    }
  }

  .marketListInnergroupTitlePoint span::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/bestseller/ic_it.png") no-repeat center/cover;
    position: absolute;
    top: 2px;
    right: 0;
  }

  .marketListInnergroupTitleButton {
    display: inline-block;
    background: #262626;
    color: #fff;
    line-height: 1;
    padding: 16px 20px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 28px;
  }

  .sellerSwiper {
    width: calc(100% - 448px);
    margin-left: auto;
    position: relative;
  }

  .swiperSlide {
    //width: 350px;
    height: 500px;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
  }

  .sellerText {
    margin-top: 28px;
    font-weight: 500;
    color: #9d9d9d;
    line-height: 1.3;
  }

  .sellerTextPoint {
    margin-top: 2px;
    color: #ab96fd;
  }

  .subTitle {
    font-size: 16px;
    font-weight: bold;
    color: #ab96fd;
    margin-bottom: 4px;
  }

  .sellerItemInner {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 32px;
  }

  .itemTitle {
    font-size: 19px;
    color: #9d9d9d;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }

  .price {
    font-size: 32px;
    font-weight: bold;
  }

  .slide1 {
    background: url("../../images/bestseller/seller1.jpg") no-repeat center/cover;
  }
  .slide2 {
    background: url("../../images/bestseller/seller2.jpg") no-repeat center/cover;
  }
  .slide3 {
    background: url("../../images/bestseller/seller3.jpg") no-repeat center/cover;
  }
  .slide4 {
    background: url("../../images/bestseller/seller4.jpg") no-repeat center/cover;
  }
  .slide5 {
    background: url("../../images/bestseller/seller5.jpg") no-repeat center/cover;
  }

  .reviewSection {
    width: 100%;
    height: 100vh;
    background: #262626;
  }

  .DropdownSection {
    width: 100%;
    height: 100vh;
  }
}
