.page-container.lelabo {
  * {
    box-sizing: border-box;
    font-family: "Changa", sans-serif;
  }

  .topevent {
    width: 100%;
    height: 40px;
    background: #333;
    position: relative;
  }
  .topevent p {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lelabomemu {
    width: 100%;
    height: calc(80px - 1px);
    border-bottom: 1px solid #ebebeb;
    position: relative;
    top: 80;
    left: 0;
  }
  .lelabomemu a {
    font-size: 14px;
    color: #333;
  }
  .lelabomemuflx {
    width: 620px;
    height: calc(80px - 1px);
    display: flex;
    align-items: center;
    transform: translateX(25px);
  }
  .lelabomemuflx li {
    padding: 4px;
    margin-right: 1.3vw;
  }
  .lelaborig {
    height: calc(80px - 1px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(-5px);
  }
  .lelaborig li {
    padding: 4px;
    margin-right: 1.3vw;
  }
  .lelabomainimg {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .lelabomainimg img {
    width: 100%;
    height: 100%;
  }
  .lelabo_main_txt {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
    height: 64px;
  }
  .lelabo_main_txt label {
    min-width: 90px;
    display: block;
    text-align: center;
    color: #333;
  }
  .lelabofooter {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 20px 30px;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 20px;
    letter-spacing: 0.02px;
    background: #333;
  }
  .colletion_txt {
    display: none;
  }
  .innerA {
    position: absolute;
    top: calc(100% + 36px);
    left: 50%;
    transform: translateX(-50%);
  }
  label::after {
    content: "";
    display: block;
  }
  .innerA img {
    width: 100%;
  }
  .footer_gather {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

    .footer_section {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .footer_section ~ .footer_section {
      padding-left: 24px;
    }
    h3 {
      line-height: 2.5;
      font-weight: 400;
      color: #ebebeb;
    }
    h2 {
      line-height: 2.5;
      font-weight: 400;
      color: #ebebeb;
    }
    .fooer_row {
      border-bottom: 1px solid #ebebeb;
      margin: 16px 0;
    }
    .fooer_col {
      padding-left: 0;
      margin: 0;
      color: #ebebeb;
    }
    a {
      color: #ebebeb;
    }
  }
  .letter_input input {
    width: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 1.85;
    border: 1px solid #ebebeb;
    border-radius: 3px 0 0 3px;
    border-right: 0px;
    background: transparent;
  }
  .letter_input button {
    background: transparent;
    border: 1px solid #ebebeb;
    color: #ebebeb;
    line-height: 1.85;
    border-radius: 0px 3px 3px 0px;
  }
  .blook {
    margin: 0 0 16px 0;
    border-bottom: 1px solid #ebebeb;
  }
  .letter_box {
    width: 80%;
    border: 1px solid #ebebeb;
    padding: 10px 20px 10px 10px;
    line-height: 1.8;
    border-radius: 3px;
    color: #ebebeb;
  }
  .letter {
    padding-top: 16px;
  }
  .blck_line {
    padding: 10px 0 0 16px;
  }
  .copy_item p {
    padding-bottom: 10px;
    color: #ebebeb;
  }
  .certification_box {
    line-height: 2.5;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    p {
      color: #ebebeb;
    }
  }
  .certification_box p {
    padding-left: 12px;
  }
  .letter_input {
    padding-top: 16px;
    padding-bottom: 80px;
  }
  .certification input {
    padding-left: 12px;
    background: transparent;
  }
  .marketing_bn {
    padding-top: 12px;
    h2 {
      color: #ebebeb;
    }
  }
  .footer_end {
    color: #ebebeb;
  }
}
