.page-container.lelabo {
  @media (max-width: 768px) {
    .topevent {
      text-align: center;
    }
    .lelabomemu {
      height: 60px;
    }
    .lelabomemu nav {
      display: none;
    }
    .lelaborig {
      height: 60px;
    }
    .ph_me {
      display: flex;
      align-items: center;
      padding: 18px;
      height: 60px;

      img {
        width: 30px;
      }
    }
    .lelabo_main_txt {
      gap: 0px;
      font-size: 10px;
      margin-bottom: 60vw;
      label {
        min-width: 75px;
      }
    }
    .footer_gather {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
    }
    .footer_gather .footer_section ~ .footer_section {
      padding-left: 0px;
    }
  }
}
