@charset "UTF-8";
.page-container.maran {
  *font-family: "Noto Sans KR", sans-serif;
  .maranSwiper {
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination,
    .swiper-button-next:after,
    .swiper-button-prev:after,
    .swiper-scrollbar-drag,
    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      display: none;
    }
  }
  .about_explanation {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 330px;
  }
  .continer {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 180px;
  }
  .thumbnail {
    width: 30%;

    padding-top: 42px;
    img {
      width: 100%;
    }
  }
  .tham_tall {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
  .mav_size {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 48px 0;
    a {
      color: #030303;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .bot_me {
    position: absolute;
    top: 14%;
    z-index: 10;
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      gap: 48px;
    }
    a {
      color: #030303;
      font-size: 12px;
    }
  }
  .lag_line {
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: space-around;
    img {
      width: 200px;
    }
    li {
      min-width: 120px;
    }
  }
  .style_input {
    background: transparent;
  }
  .login {
    margin: 0 auto;
    width: 354px;
    display: flex;
    justify-content: center;
    padding-top: 280px;
    fieldset {
      position: relative;
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    a {
      color: #000;
    }
  }
  .login_form {
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
    color: #000;
    li {
      margin-bottom: 10px;
    }
    label {
      font-size: 11px;
      line-height: 40px;
      height: 40px;
      text-indent: 8px;
      color: #000;
    }
    input {
      width: 342px;
      line-height: 32px;
      height: 32px;
      border: 1px solid #000;
      font-size: 11px;
      padding-left: 10px;
      color: #000;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
  }
  footer {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    margin-bottom: 48px;
    z-index: 1;
    .for_txt_po {
      max-width: 1280px;
      margin: 0 auto;
    }
    ul {
      display: flex;
    }
    li {
      color: #030303;
      font-size: 12px;
      font-weight: 450;
      line-height: 1.4;
    }
    a {
      color: #030303;
    }
    p {
      color: #000;
      font-size: 12px;
      font-weight: 450;
      margin-left: 24px;
      line-height: 1.4;
    }
    .number {
      padding-left: 24px;
      padding-right: 24px;
    }
    .fot_n {
      display: flex;
      justify-content: center;
    }
  }
}
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  background: transparent;
  box-shadow: unset;
  li {
    font-size: 12px;
  }
}
