@charset "UTF-8";

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.accordion-title.active {
  background-color: #ddd;
}

.accordion-content {
  padding: 10px;
}
