@charset "UTF-8";

.sellerSwiper {
  width: calc(100% - 448px);
  margin-right: 0;
  margin-left: auto;
  overflow: hidden;
}

.swiperSlide {
  width: 300px;
  height: 500px;
  display: flex;
  position: relative;
  border-radius: 14px;
}

.sellerItemInner {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding: 32px;
}

.itemTitle {
  font-size: 19px;
  color: #9d9d9d;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}

.subTitle {
  font-size: 16px;
  font-weight: bold;
  color: #ab96fd;
  margin-bottom: 4px;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.SellerSlideImg1 {
  background: url("../../images/bestseller/seller1.jpg") no-repeat center/cover;
}
.sellerSlideImg2 {
  background: url("../../images/bestseller/seller2.jpg") no-repeat center/cover;
}
.sellerSlideImg3 {
  background: url("../../images/bestseller/seller3.jpg") no-repeat center/cover;
}
.sellerSlideImg4 {
  background: url("../../images/bestseller/seller4.jpg") no-repeat center/cover;
}
.sellerSlideImg5 {
  background: url("../../images/bestseller/seller5.jpg") no-repeat center/cover;
}
