@charset "UTF-8";

.page-container.bestseller {
  * {
    box-sizing: border-box;
  }

  .bestsellerbody {
    font-family: "Spoqa Han Sans Neo";
  }

  #text {
    display: none;
  }

  section {
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;
  }
  .sectionTitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 78px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-scrollbar,
  .swiper-pagination-bullet {
    display: none;
  }

  .bestsellerSwiper {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  #slideImgGrop {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .slideImg1 {
    background: url("../../images/bestseller/bg_main.jpeg") no-repeat center/cover;
  }
  .slideImg2 {
    background: url("../../images/bestseller/bg_main1.jpeg") no-repeat center/cover;
  }

  .pageSlidInner {
    width: 100%;
    max-width: 1200px;
    margin-left: 48px;
    p {
      font-size: 3em;
      font-weight: 600;
      line-height: 1.25;
      span {
        position: relative;
        padding-right: 60px;
        margin-right: 8px;
      }
    }
  }

  .pageSlidInner p span::after {
    content: "";
    display: block;
    width: 58px;
    height: 38px;
    background: url("../../images/bestseller/it.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  .buttonArea {
    margin-top: 68px;
  }

  .partnerWrap {
    font-size: 1em;
    margin-top: 2%;
  }

  .slideInButton {
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 2% 2.5%;
    border-radius: 28px;
    margin-right: 2%;
    transition: all 0.3s;
  }

  .slideInButton:hover {
    background: #ab96fd;
  }
  // BestsellerMainPage end

  .marketList {
    background: url("../../images/bestseller/bg_gradient.jpeg");
  }

  .marketListInner {
    padding-right: calc((100% - 1358px) / 2);
    padding-left: calc((100% - 1358px) / 2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .marketListInnerGroup {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    position: relative;
  }
  .marketListInnerGroupTitle {
    p {
      font-size: 2.5em;
      line-height: 1.4;
    }
  }

  .marketListInnerGroupTitlePoint {
    font-weight: 600;
    span {
      position: relative;
      padding-right: 20px;
    }
  }

  .marketListInnerGroupTitlePoint span::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/bestseller/ic_it.png") no-repeat center/cover;
    position: absolute;
    top: 2px;
    right: 0;
  }

  .marketListInnerGroupTitleButton {
    display: inline-block;
    background: #262626;
    color: #fff;
    line-height: 1;
    padding: 16px 20px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 28px;
    span {
      display: inline-block;
      padding-right: 18px;
      position: relative;
    }
  }

  .marketListInnerGroupTitleButton span::after {
    content: "";
    display: block;
    width: 8px;
    height: 11px;
    background: url("../../images/bestseller/ic_arrow.png") no-repeat right/cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sellerText {
    margin-top: 28px;
    font-weight: 500;
    color: #9d9d9d;
    line-height: 1.3;
  }

  .sellerTextPoint {
    margin-top: 2px;
    color: #ab96fd;
  }

  // Maket List Grop

  .sellerSwiper {
    width: calc(100% - 448px);
    margin-right: 0;
    margin-left: auto;
    overflow: hidden;
  }

  .swiperSlide {
    width: 300px;
    height: 500px;
    display: flex;
    position: relative;
    border-radius: 14px;
  }

  .sellerItemInner {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 32px;
  }

  .itemTitle {
    font-size: 19px;
    color: #9d9d9d;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }

  .subTitle {
    font-size: 16px;
    font-weight: bold;
    color: #ab96fd;
    margin-bottom: 4px;
  }

  .price {
    font-size: 32px;
    font-weight: bold;
  }

  .SellerSlideImg1 {
    background: url("../../images/bestseller/seller1.jpg") no-repeat center/cover;
  }
  .sellerSlideImg2 {
    background: url("../../images/bestseller/seller2.jpg") no-repeat center/cover;
  }
  .sellerSlideImg3 {
    background: url("../../images/bestseller/seller3.jpg") no-repeat center/cover;
  }
  .sellerSlideImg4 {
    background: url("../../images/bestseller/seller4.jpg") no-repeat center/cover;
  }
  .sellerSlideImg5 {
    background: url("../../images/bestseller/seller5.jpg") no-repeat center/cover;
  }
}
